.checkbox {
  width: 20px;
  height: 20px;
  border-style: inset;
  display: inline-block;
}

/* .checkbox:after {
  content: '';
}

.checkbox.checked:after {
  content: 'V';
} */

.icon {
  width: 20px;
  height: 20px;
  fill: green;
}
