.checkbox {
  width: 20px;
  height: 20px;
  border-style: inset;
  display: inline-block;
  vertical-align: bottom;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox .checkboxIcon {
  display: none;
}

.checkbox.checked .checkboxIcon {
  display: inherit;
}

.checkboxIcon {
  width: 20px;
  height: 20px;
  fill: green;
}
